table, tr, th, td {
	border: 2px black solid;
	text-align: center;
}

table {
	margin: 0 auto;
}

th, td {
	width: 100px;
	text-overflow: ellipsis;
}

select {
	margin: 0 0 10px 0;
}

.list-lesson {
	text-align: center;
}

#guide {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	margin: 10px 0 10px 0;
}
